Repository neuron7x/FactSynth: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, update-dev-requirements

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.3
    hooks:
      - id: ruff
        files: "^(scripts/typing_coverage\\.py|src/facts/pipeline\\.py|src/factsynth_ultimate/(api(/v1)?/.*|app\\.py|core/settings\\.py)|tests/(stream/.*|property/test_score_properties\\.py|test_api_key_allowlist\\.py|test_core_secrets\\.py|test_evaluator_api\\.py|test_feedback\\.py|test_isr\\.py|test_redact_pii\\.py))$"
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        args: ["--warn-unused-ignores"]
        files: ^src/factsynth_ultimate/
        additional_dependencies: ["pydantic"]
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-c", "pyproject.toml", "src/"]
        pass_filenames: false
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
        types: [python]
      - id: update-dev-requirements
        name: update dev requirements
        entry: scripts/update_dev_requirements.sh
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|requirements-dev\.txt)$
  - repo: https://github.com/jazzband/pip-tools
    rev: v7.5.0
    hooks:
      - id: pip-compile
        name: pip-compile lock
        files: ^(pyproject\.toml|requirements\.lock)$
        args:
          [
            "--allow-unsafe",
            "--extra=dev",
            "--extra=isr",
            "--extra=numpy",
            "--generate-hashes",
            "--output-file=requirements.lock",
            "pyproject.toml",
          ]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        files: "^(scripts/typing_coverage\\.py|src/facts/pipeline\\.py|src/factsynth_ultimate/(api/routers\\.py|api/v1/.*|app\\.py|core/settings\\.py)|tests/(stream/.*|property/test_score_properties\\.py|test_api_key_allowlist\\.py|test_core_secrets\\.py|test_evaluator_api\\.py|test_feedback\\.py|test_isr\\.py|test_redact_pii\\.py))$"
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-r", "src/", "--severity-level", "medium"]
        pass_filenames: false
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: "^scripts/.*\\.py$"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        files: "^scripts/"
      - id: trailing-whitespace
        files: "^scripts/"
      - id: check-executables-have-shebangs
        files: "^scripts/"
      - id: mixed-line-ending
        files: "^src/factsynth_ultimate/akpshi/"
        args: ["--fix=lf"]
      - id: end-of-file-fixer
        files: "^src/factsynth_ultimate/akpshi/"
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        files: "^scripts/.*\\.sh$"
  - repo: https://github.com/pypa/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        args:
          [
            "-v",
            "--progress-spinner",
            "off",
            "-r",
            "requirements.lock",
            "--require-hashes",
          ]

chore(ci): dedupe coverage artifact upload
  .github/workflows/ci.yml
Due: none

Refactor test stub handler reuse
  tests/conftest.py
Due: pytest

Test OpenAPI contract via live client
  tests/test_openapi_contract.py
Due: pytest

Use pre-commit for Python linting
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Adjust httpx test configuration for stream tests
  pytest.ini
  tests/conftest.py
Due: pytest

Clarify rate limiter middleware comment
  pyproject.toml
  requirements.lock
  src/factsynth_ultimate/app.py
  tests/test_rate_limit.py
Due: pytest, update-dev-requirements

Add Redis health check fallback with recovery
  src/factsynth_ultimate/core/rate_limit.py
  src/factsynth_ultimate/services/evaluator.py
  tests/middleware/test_rate_limit.py
  tests/store/test_fallback.py
Due: pytest

Add management for callback allowlist
  src/factsynth_ultimate/api/routers.py
  src/factsynth_ultimate/cli.py
  src/factsynth_ultimate/config.py
  src/factsynth_ultimate/schemas/callbacks.py
  src/factsynth_ultimate/validators/callback.py
  tests/callbacks/test_allowlist.py
Due: pytest

Enhance websocket auth and limits
  src/factsynth_ultimate/api/routers.py
  src/factsynth_ultimate/auth/ws.py
  src/factsynth_ultimate/core/settings.py
  tests/auth/test_ws_auth.py
  tests/stream/test_ws_limits.py
Due: pytest

Add manual tracing spans and OTLP/Jaeger configuration
  docs/index.md
  docs/tracing.md
  src/factsynth_ultimate/api/routers.py
  src/factsynth_ultimate/api/v1/generate.py
  src/factsynth_ultimate/core/problem_details.py
  src/factsynth_ultimate/core/tracing.py
  tests/test_tracing_spans.py
Due: pytest

Add async pipeline execution and update tests
  src/facts/pipeline.py
  src/factsynth_ultimate/api/v1/generate.py
  src/factsynth_ultimate/services/retrievers/base.py
  src/factsynth_ultimate/services/retrievers/local.py
  src/factsynth_ultimate/stream/__init__.py
  tests/api/test_generate.py
  tests/conftest.py
  tests/property/test_generate_properties.py
  tests/stream/test_sse.py
  tests/stream/test_ws.py
  tests/stream/test_ws_limits.py
Due: pytest

Add streaming fragments and resume tests
  src/facts/pipeline.py
  src/factsynth_ultimate/stream/__init__.py
  tests/stream/test_stream_facts.py
Due: pytest

Add locale-aware fact pipeline support
  src/facts/pipeline.py
  src/factsynth_ultimate/api/v1/generate.py
  src/factsynth_ultimate/schemas/requests.py
  src/factsynth_ultimate/services/retrievers/local.py
  tests/api/test_generate.py
Due: pytest

Add caching to FactPipeline retrieval
  src/facts/pipeline.py
  tests/facts/test_pipeline_cache.py
Due: pytest

Add OpenTelemetry spans and trace ID propagation
  src/factsynth_ultimate/api/routers.py
  src/factsynth_ultimate/api/v1/generate.py
  src/factsynth_ultimate/core/problem_details.py
  src/factsynth_ultimate/core/tracing.py
  src/factsynth_ultimate/stream/__init__.py
Due: pytest

Add benchmark automation and regression thresholds
  .github/workflows/ci.yml
  Makefile
  benchmarks/.gitignore
  benchmarks/README.md
  benchmarks/thresholds.json
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  requirements.lock
  scripts/check_benchmark_thresholds.py
  tests/benchmarks/test_retriever_benchmark.py
  tests/conftest.py
Due: pytest, update-dev-requirements

Add retriever registry and configurable plugins
  pyproject.toml
  src/facts/pipeline.py
  src/factsynth_ultimate/cli.py
  src/factsynth_ultimate/config.py
  src/factsynth_ultimate/services/evaluator.py
  src/factsynth_ultimate/services/retrievers/plugins/__init__.py
  src/factsynth_ultimate/services/retrievers/plugins/elasticsearch.py
  src/factsynth_ultimate/services/retrievers/registry.py
  tests/test_evaluator_api.py
  tests/test_retriever_configuration.py
Due: pytest, update-dev-requirements

chore: enforce conventional commits
  .github/workflows/conventional-commits.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: none

ci: add semantic release automation
  .github/workflows/semantic-release.yml
  .releaserc.json
  Makefile
  package-lock.json
  package.json
  patches/Makefile.append
  pyproject.toml
  scripts/release/make_release.sh
  src/factsynth_ultimate/__init__.py
Due: pytest, update-dev-requirements

chore(ci): wire semantic release to container pipeline
  .github/workflows/container-release.yml
  .github/workflows/semantic-release.yml
  .releaserc.json
Due: none

Add SBOM generation and signing to container release
  .github/workflows/container-release.yml
Due: none

Enable container PR scan and docker dependabot
  .github/dependabot.yml
  .github/workflows/container-scan.yml
  README_TESTING.md
Due: none

Add security scanning outputs
  .github/workflows/ci.yml
  pyproject.toml
  ruff.toml
  tools/coverage_gate.py
  tools/make_badge.py
Due: pytest, update-dev-requirements

Add Spectral linting to CI workflow
  .github/workflows/ci.yml
Due: none
